header {
	width: 100%;
	text-align: center;
	border-bottom: 1px solid #000
}

main {
	padding-top: 30px;
}

.center-content {
	width: 500px;
	margin: auto;
}

.quiz-start {
	margin-top: 100px;
	text-align: center;
}

.quiz-box {
	border: 1px solid #000;
	padding: 10px;
}

.question-number{
	margin: 0;
	padding: 0;
	text-align: right
}

.question-content {
	width: 80%;
	margin: auto;
}

.phrase-to-translate {
	text-align: center;
}

ul.answers {
	padding: 0;
	list-style-type: none
}

.quiz-button {
	text-align: right;
}

.hidden {
	display: none;
}

.results {
	 border: 1px solid #000;
    padding: 10px;
    margin-top: 20px;
}

.results.correct {
	border-color: green;
	color: green;
}

.results.wrong {
	border-color: red;
	color: red;
}
