header {
	width: 100%;
	text-align: center;
	border-bottom: 1px solid #000
}

main {
	padding-top: 30px;
}

.center-content {
	width: 500px;
	margin: auto;
	position: relative;
}

.quiz-start {
	margin-top: 100px;
	text-align: center;
}

.quiz-box {
	border: 1px solid #000;
	padding: 10px;
}

.question-number{
	margin: 0;
	padding: 0;
	text-align: right
}

.question-content {
	width: 80%;
	margin: auto;
}

.phrase-to-translate {
	text-align: center;
}

ul.answers {
	padding: 0;
	list-style-type: none
}

.quiz-button {
	text-align: right;
}

.hidden {
	display: none;
}

.result {
	 border: 1px solid #000;
    padding: 10px;
    margin-top: 20px;
}

.correct {
	color: green;
}

.wrong {
	color: red;
}

.quiz-results {
	padding-top: 60px;
	padding-bottom: 70px;
	font-weight: bold;
	text-align: center;
}

.progress-box {
	 border: 1px solid #000;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(calc(-100% - 20px));
    padding: 15px;
}

.progress-box ul {
	list-style: none;
	margin: 0;
	padding: 0;
}